@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* যখন HTML এ .dark ক্লাস থাকবে তখন এই কালারগুলো কাজ করবে */
.dark {
  --background: #0f172a; /* Slate 900 */
  --foreground: #f8fafc; /* Slate 50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
